{% extends "front/base.html.twig" %}

{% block main %}

    {% for product in category.products | slice(0, 3) %}
        
        <img src="{{ asset('images/' ~ product.images[0].src) }}" alt="{{ product.image[0].alt }}">
        <h2><a href="{{ path ("product_show", {'id' : product.id })}}">{{ product.name }}</a></h2>

    {% endfor %}

{% endblock %}